## FÆLLES ØVELSE: Simpel problemløsning med Python

Hvordan kan vi lave en funktion, der udregner arealet af en cirkel ud fra en given radius?

$A = \pi * r^2$

## ØVELSE: Datahåndtering i Python

Vi vil gerne undersøge sammenhængen mellem politisk ståsted (venstre- eller højreorienteret), og hvorvidt man bekymrer sig om digital teknologi og internettet.

Kolonnerne `qb3_1-qb3_7` angiver de temaer inden for digital teknologi og internet, som respondenten er bekymret for (hvis der er et svar: bekymret; ellers er de ikke bekymret). 

1. Dan et indeks for, hvor bekymret man er for digital teknologi og internettet pba. kolonnerne `qb3_1-qb3-7`.
- Kolonnerne bør rekodes til dummy-variable, inden de lægges sammen.


Kolonnen `d1` indeholder respondents politiske placering på venstre-højre skala (1: venstreorienteret, 2: højreorienteret).

2. Konvertér `d1` til en numerisk variabel (kræver rekodning af nogle af værdierne først).

3. Undersøg hvorvidt indekset og politisk placering korrelerer (brug evt. [`pd.Series.corr()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.corr.html#pandas.Series.corr))

4. Udforsk forskelle i indekset - fx forskelle mellem køn, uddannelsesniveau, region eller andet

**TIP: Pandas har meget udførlig dokumentation, hvor du kan finde hjælp til de forskellige funktioner og metoder: https://pandas.pydata.org/docs/**

In [1]:
data_path = "C:/Users/kgk/OneDrive - Aalborg Universitet/Undervisning/E22/sds/datasets/eurobarometer-96_dk_subset.csv"

In [24]:
import pandas as pd
import numpy as np

eurob = pd.read_csv(data_path)

eurob.head()

,uniqid,d11,polintr,qb1,qb3_1,qb3_2,qb3_3,qb3_4,qb3_5,qb3_6,...,d10,d15a,d15b,d25,d63,d1,p1,p2,p3,region_denmark
0,110005573,71,Not at all,Fairly important,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned,...,Man,"Retired, unable to work","Middle management, etc.",Large town,The middle class of society,9,16 Sep 21,13 - 16 h,2099,DK05 - Nordjylland
1,110005574,23,Medium,Very important,Use of personal data and information by compan...,Cyber-attacks and cybercrime such as theft or ...,Not mentioned,Not mentioned,Not mentioned,Not mentioned,...,Man,Student,"Unskilled manual worker, etc.",Large town,The middle class of society,6,16 Sep 21,17 - 19 h,2784,DK05 - Nordjylland
2,110005575,53,Medium,Very important,Not mentioned,Cyber-attacks and cybercrime such as theft or ...,The difficulty of learning new digital skills ...,Not mentioned,Not mentioned,Not mentioned,...,Woman,"Unskilled manual worker, etc.",Inap. (not 1 to 4 in d15a),Rural area or village,The middle class of society,8,17 Sep 21,13 - 16 h,1738,DK02 - Sjaelland
3,110005576,70,Medium,Very important,Not mentioned,Cyber-attacks and cybercrime such as theft or ...,Not mentioned,The safety and well-being of children,The difficulty some people have accessing the ...,Not mentioned,...,Man,"Retired, unable to work","Middle management, etc.",Rural area or village,The middle class of society,8,17 Sep 21,13 - 16 h,2759,DK02 - Sjaelland
4,110005577,71,Medium,Fairly important,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned,...,Woman,"Employed position, service job",Inap. (not 1 to 4 in d15a),Small/middle town,The working class of society,5,17 Sep 21,8 - 12 h,1768,DK01 - Hovedstaden

In [25]:
cols = eurob.columns[eurob.columns.str.startswith('qb3_')]

qb3_nomention = eurob[cols] == "Not mentioned"
qb3_mention = eurob[cols] != "Not mentioned"

In [29]:
eurob[cols][qb3_nomention]

,qb3_1,qb3_2,qb3_3,qb3_4,qb3_5,qb3_6,qb3_7
0,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned
1,NaN,NaN,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned
2,Not mentioned,NaN,NaN,Not mentioned,Not mentioned,Not mentioned,Not mentioned
3,Not mentioned,NaN,Not mentioned,NaN,NaN,Not mentioned,Not mentioned
4,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned,Not mentioned
...,...,...,...,...,...,...,...
988,Not mentioned,NaN,Not mentioned,Not mentioned,Not mentioned,Not mentioned,NaN
989,Not mentioned,NaN,NaN,Not mentioned,NaN,NaN,Not mentioned
990,NaN,NaN,NaN,NaN,Not mentioned,Not mentioned,Not mentioned
991,Not mentioned,NaN,Not mentioned,Not mentioned,NaN,NaN,Not mentioned
992,NaN,NaN,Not mentioned,Not mentioned,NaN,Not mentioned,Not mentioned

In [ ]:
eurob[cols] = eurob[cols].where(qb3_nomention, 1)
eurob[cols] = eurob[cols].where(qb3_mention, 0)

In [22]:
eurob.head()

,uniqid,d11,polintr,qb1,qb3_1,qb3_2,qb3_3,qb3_4,qb3_5,qb3_6,...,d10,d15a,d15b,d25,d63,d1,p1,p2,p3,region_denmark
0,110005573,71,Not at all,Fairly important,0,0,0,0,0,0,...,Man,"Retired, unable to work","Middle management, etc.",Large town,The middle class of society,9,16 Sep 21,13 - 16 h,2099,DK05 - Nordjylland
1,110005574,23,Medium,Very important,1,1,0,0,0,0,...,Man,Student,"Unskilled manual worker, etc.",Large town,The middle class of society,6,16 Sep 21,17 - 19 h,2784,DK05 - Nordjylland
2,110005575,53,Medium,Very important,0,1,1,0,0,0,...,Woman,"Unskilled manual worker, etc.",Inap. (not 1 to 4 in d15a),Rural area or village,The middle class of society,8,17 Sep 21,13 - 16 h,1738,DK02 - Sjaelland
3,110005576,70,Medium,Very important,0,1,0,1,1,0,...,Man,"Retired, unable to work","Middle management, etc.",Rural area or village,The middle class of society,8,17 Sep 21,13 - 16 h,2759,DK02 - Sjaelland
4,110005577,71,Medium,Fairly important,0,0,0,0,0,0,...,Woman,"Employed position, service job",Inap. (not 1 to 4 in d15a),Small/middle town,The working class of society,5,17 Sep 21,8 - 12 h,1768,DK01 - Hovedstaden

In [7]:
df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
m = df % 3 == 0

df.where(m, -df)

   A  B
0  0 -1
1 -2  3
2 -4 -5
3  6 -7
4 -8  9

In [ ]:
cols = eurob.columns[eurob.columns.str.startswith('qb3_')]
for col in cols:
    eurob.loc[eurob[col] != "Not mentioned", col] = 1
    eurob.loc[eurob[col] == "Not mentioned", col] = 0
eurob['qb3_index'] = eurob[cols].sum(axis = 1)

d1_map = {"1 Left": 1, "10 Right": 10, "DK (SPONT.)": np.nan, "Refusal (SPONT.)": np.nan}
eurob['d1_num'] = eurob['d1'].replace(d1_map).astype('float')

eurob['d1_num'].corr(eurob['qb3_index'])